

<div class="card text-black" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Project App</h5>
    <p class="card-text">
    
    <a href="https://www.youtube.com/watch?v=JxgvtT9U2HI&list=PL_zlIeClZUUfuMc9qAhh82XqmZLnzLddR&index=11">
      Youtube Playlist for This Project
      </a>
    </p>
    <%= link_to projects_path %>
  </div>
</div>
